.pboutton {
    text-align: center;
}
  
#paie {
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
    border-radius: 4px;
    border: 1px solid #46545c;
    background-color: #4a707a;
    color: #eeeeee;
    font-size: 21px;
}